.container {
  width: 100%;
  min-width: 300px;
  height: 750px;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.background-image {
  position: absolute;
  right: 0px;
  bottom: 0%;
  width: 60%;
  height: 70%;
  z-index: 2;
  overflow: hidden;
  /* border: 2px solid black; */
}

.background-image img {
  position: relative;
  object-fit: cover;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.hero-text-sub {
  width: 80%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  /* border: 1px solid black; */
}

.hero-text {
  height: 30%;
  width: 85%;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 10;
  /* border: 1px solid black; */
}

.hero-text h1 {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 1px;
}

.hero-text h5 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
}

.hero-text button {
  position: relative;
  top: 10%;
  width: 160px;
  height: 40px;
  background: rgb(243, 122, 142);
  border: 2px solid rgb(243, 122, 142);
  color: white;
  border-radius: 3px;
  font-size: 16px;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .hero-text-sub {
    width: 90%;
  }
}

@media only screen and (max-width: 880px) {
  .hero-text {
    height: 40.5%;
  }

  .background-image {
    height: 65%;
    width: 70%;
  }
}

@media only screen and (max-width: 630px) {
  .hero-text-sub {
    width: 100%;
  }

  .background-image {
    width: 100%;
    height: 60%;
  }
}

@media only screen and (max-width: 560px) {
  .hero-text-sub {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text h5 {
    font-size: 18px;
  }

  .hero-text-sub button {
    text-align: center;
  }
}

@media only screen and (max-width: 490px) {
  .background-image {
    height: 43%;
  }
}

@media only screen and (max-width: 430px) {
  .hero-text {
    height: 44%;
  }
}

@media only screen and (max-width: 280px) {
  .hero-text {
    height: 48%;
  }
}

@media only screen and (max-width: 250px) {
  .hero-text {
    height: 55%;
  }
}

.hero-text button:hover {
  background-color: transparent;
  border-color: rgb(243, 122, 142);
  transition-duration: 0.3s;
  color: rgb(243, 122, 142);
}
